<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PageOne</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  </head>
  
<style>
body, html{
  background-color: #EEE;
   height: 100%;
   padding-left: 30px;
   padding-right: 30px;
  margin:0;
}
#topnavbar{
  background-color: #FFF;
  border-style: solid;
  border-top: 3px solid #5B2C6F;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
}
#Projectname{
  color: #76448A;
}
#form{
  padding-top: 100px;
  padding:100px;
  text-align: left;
  vertical-align:top;
  width: 1000px;
  padding-right: 200px;
}
#details{
  width: 1000px;
  padding-left: 100px;
}
</style>
  <body>
     <div>
    <nav class="navbar  navbar-fixed-top" id = "topnavbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" id = "Projectname">PageOne</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
       

        </div>
        
    </nav>
  </div>

<form id = "form" method = "POST" action = "addnewfield">

  <div>
    <h3>Add a new Field</h3>
  </div>
</br>
</br>
  <div class="form-group">
    <label>Field Title</label>
    <input name = "title" type="text" class="form-control"  placeholder="Field Title">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" name = "description" class="form-control" placeholder="Description">
  </div>
  <button type="submit" class="btn btn-default">Save</button>
</form>
  </body> 
  <div id = "details">
<table class="table table-striped">


  <tr>
    <th>Fields</th>
    <th>Description</th>
  </tr>

  <h3>Manage your Fields here</h3>
  <br>
  {% for i,j in extras %}
  
    <tr>
      <td><a  href ="{{ url_for("editfield", title = i,description = j) }}">{{i}}</a></td>
      <td>{{j}}</td>
    </tr>

  {% endfor %}
</table>
</div>
</html>


